@model WebAppFooter.Models.FooterDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FooterDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameSurnameChange" class="control-label"></label>
                <input asp-for="NameSurnameChange" class="form-control" />
                <span asp-validation-for="NameSurnameChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteChange" class="control-label"></label>
                <input asp-for="SiteChange" class="form-control" />
                <span asp-validation-for="SiteChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailChange" class="control-label"></label>
                <input asp-for="EmailChange" class="form-control" />
                <span asp-validation-for="EmailChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneChange" class="control-label"></label>
                <input asp-for="PhoneChange" class="form-control" />
                <span asp-validation-for="PhoneChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentChange" class="control-label"></label>
                <input asp-for="DepartmentChange" class="form-control" />
                <span asp-validation-for="DepartmentChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoChange" class="control-label"></label>
                <input asp-for="LogoChange" class="form-control" />
                <span asp-validation-for="LogoChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
